<% content_for :nav do %>
        <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="margin-top: -15px;">
              <%= image_tag "b-mjenzi-logo-b.png" %>
          </a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
<% end %>
      
<!-- About Us Page
==========================================-->
<div class="service-container">
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                 <%= image_tag @service[:image], class:  "img-responsive" %>
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h2><%= @service[:name]%></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro"><%= @service[:tagline]%> </p>
                        <ul class="about-list">
                           <%= @service[:description]%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
